.home-icon {
    height: 36px;
    width: 36px;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
  }
  .profile {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .list-link-1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 14px;
  }
  .your-threads-icon {
    height: 36px;
    width: 36px;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
  }
  .your-threads {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .list-link-11 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 14px;
  }
  .bookmarks-icon {
    height: 36px;
    width: 36px;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
  }
  .saved {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .links2,
  .list-link-12 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 14px;
  }
  .links2 {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px 0;
  }
  .top-leaderboards {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .frame-title {
    height: 45px;
    width: 45px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-darkseagreen);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-an {
    position: relative;
    font-weight: 500;
  }
  .ebaygmailc {
    width: 87px;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--neutral-brown);
    display: none;
  }
  .avatar-icon,
  .thread-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .thread-info {
    justify-content: flex-start;
    gap: 0 8px;
  }
  .div6 {
    position: relative;
    font-weight: 600;
  }
  .container,
  .login {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
  }
  .container {
    width: 47px;
    border-radius: var(--br-8xs);
    background-color: var(--light-100);
    display: none;
    justify-content: center;
    padding: var(--padding-12xs) var(--padding-5xs);
    box-sizing: border-box;
    font-size: var(--font-size-base);
    color: var(--color-rosybrown-400);
  }
  .login {
    display: flex;
    justify-content: flex-start;
    gap: 0 61px;
  }
  .frame-child2 {
    height: 45px;
    width: 45px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-lightslategray-200);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-an1 {
    position: relative;
    font-weight: 500;
  }
  .ebaygmailc1 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--neutral-brown);
  }
  .ebayyou-an-parent {
    height: 39px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .frame-parent9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 8px;
  }
  .div7 {
    position: relative;
    font-weight: 600;
  }
  .frame,
  .frame-parent8 {
    border-radius: var(--br-8xs);
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }
  .frame {
    height: 45px;
    width: 45px;
    background-color: var(--light-200);
    display: flex;
    justify-content: center;
    padding: var(--padding-12xs) var(--padding-5xs);
    font-size: var(--font-size-base);
    color: var(--brand-color-second-color);
  }
  .frame-parent8 {
    width: 240px;
    background-color: var(--brand-color-fourth-color);
    display: none;
    justify-content: space-between;
    padding: var(--padding-8xs);
    gap: var(--gap-xl);
    color: var(--neutral-white);
  }
  .frame-child3 {
    height: 45px;
    width: 45px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-rosybrown-300);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-an2 {
    position: relative;
    font-weight: 500;
  }
  .ebaygmailc2 {
    width: 87px;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--neutral-brown);
    display: none;
  }
  .ebayyou-an-group,
  .frame-parent10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frame-parent10 {
    justify-content: flex-start;
    gap: 0 8px;
  }
  .div8 {
    position: relative;
    font-weight: 600;
  }
  .wrapper1 {
    align-self: stretch;
    width: 47px;
    border-radius: var(--br-8xs);
    background-color: var(--light-300);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-12xs) var(--padding-5xs);
    box-sizing: border-box;
    font-size: var(--font-size-base);
    color: var(--color-rosybrown-400);
  }
  .leaderboards2,
  .leads,
  .login1 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .login1 {
    flex-direction: row;
    align-items: center;
    gap: 0 61px;
  }
  .leaderboards2,
  .leads {
    flex-direction: column;
    align-items: flex-start;
  }
  .leads {
    gap: 19px 0;
    font-size: var(--font-size-sm);
  }
  .leaderboards2 {
    gap: 28px 0;
  }
  .button {
    align-self: stretch;
    white-space: nowrap;
  }
  .links-parent,
  .top-leads {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .top-leads {
    align-items: flex-start;
    gap: 28px 0;
    font-size: var(--font-size-6xl);
  }
  .links-parent {
    align-items: flex-end;
    padding: 0 var(--padding-5xl) 0 var(--padding-6xl);
    gap: 58px 0;
  }
  .digiforum-all-rights {
    width: 163px;
    position: relative;
    display: none;
    flex-shrink: 0;
  }
  .vector-icon1 {
    height: 25.9px;
    width: 24px;
    position: relative;
  }
  .source-code {
    height: 22px;
    flex: 1;
    position: relative;
    text-decoration: underline;
    display: inline-block;
  }
  .vector-group {
    width: 172px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: 0 17px;
  }
  .git-pull-request-icon {
    height: 26px;
    width: 26px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .forum-api-dicoding {
    height: 22px;
    flex: 1;
    position: relative;
    text-decoration: underline;
    display: inline-block;
  }
  .frame-parent11,
  .git-pull-request-parent {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .git-pull-request-parent {
    width: 187px;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: 0 17px;
  }
  .frame-parent11 {
    height: 62px;
    display: none;
    flex-direction: column;
    gap: 10px 0;
    text-align: left;
  }
  .chemistry-info {
    height: 2px;
    flex: 1;
    position: relative;
    background-color: var(--color-darkslategray-100);
  }
  .desktop-aside1,
  .footer1 {
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  .footer1 {
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: var(--neutral-gray);
    font-family: var(--font-inter);
  }
  .desktop-aside1 {
    border-right: 2px solid var(--color-darkslategray-100);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-39xl) var(--padding-2xs) var(--padding-188xl)
      var(--padding-4xs);
    gap: 207px 0;
  }
  .image-5-icon,
  .image-6-icon {
    width: 26px;
    height: 30px;
    position: absolute;
    margin: 0 !important;
    top: 333px;
    left: 44px;
    object-fit: cover;
    z-index: 1;
  }
  .image-5-icon {
    width: 29px;
    height: 29px;
    top: 398px;
    left: 41px;
  }
  .vector1 {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--color-black);
  }
  .iconsax-linearmedal {
    width: 50px;
    height: 50px;
    position: relative;
  }
  .how-do-i {
    position: relative;
  }
  .added-thread1,
  .input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .added-thread1 {
    flex: 1;
    border-radius: var(--br-8xs);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--light-100);
    overflow: hidden;
    align-items: center;
    padding: var(--padding-smi) var(--padding-xs);
    min-width: 307px;
    white-space: nowrap;
  }
  .input {
    align-self: stretch;
    align-items: flex-start;
    padding: 0 var(--padding-10xs);
    gap: 0 18px;
  }
  .iconsaxlineargallery,
  .iconsaxlineartask,
  .iconsaxlineartext,
  .iconsaxlineartextaligncenter,
  .iconsaxlineartranslate {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
  }
  .fitur {
    border-radius: var(--br-8xs);
    background-color: var(--color-darkslategray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-9xs) var(--padding-5xs)
      var(--padding-4xs);
    gap: 0 15px;
  }
  .button-group-child {
    width: 100px;
    cursor: pointer;
  }
  .button-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-10xs);
    gap: var(--gap-xl);
  }
  .added-thread,
  .what-is-the {
    flex-shrink: 0;
    max-width: 100%;
  }
  .added-thread {
    align-self: stretch;
    border-radius: var(--br-8xs);
    background-color: var(--color-rosybrown-400);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-4xs) var(--padding-4xs);
    box-sizing: border-box;
    gap: 10px 0;
  }
  .what-is-the {
    margin: 0;
    height: 28px;
    width: 490px;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
  }
  .what-is-the-difference-between-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .minago1 {
    width: 55px;
    height: 55px;
    position: relative;
  }
  .dahee1 {
    position: relative;
    font-weight: 500;
  }
  .min-ago {
    position: relative;
    font-size: var(--font-size-xs);
    color: #c2b7b7;
  }
  .dahee,
  .image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .dahee {
    flex-direction: row;
    align-items: center;
    gap: 0 8px;
  }
  .frame-child4 {
    height: 34px;
    width: 100px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--light-100);
    display: none;
  }
  .chemistry1 {
    height: 25px;
    flex: 1;
    position: relative;
    font-weight: 500;
    display: inline-block;
    z-index: 1;
  }
  .avatar1,
  .rectangle-parent1 {
    display: flex;
    flex-direction: row;
  }
  .rectangle-parent1 {
    width: 100px;
    border-radius: var(--br-8xs);
    background-color: var(--light-100);
    align-items: flex-end;
    justify-content: flex-end;
    padding: var(--padding-5xs) var(--padding-9xs) var(--padding-12xs) 19px;
    box-sizing: border-box;
    font-size: var(--font-size-xs);
    color: var(--color-rosybrown-400);
  }
  .avatar1 {
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .image-4-icon {
    height: 273.3px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .image-4-wrapper {
    width: 458px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 28px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .im-still-confused {
    align-self: stretch;
    height: 47px;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
  }
  .avatar-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px 0;
    max-width: 100%;
  }
  .frame-question-icon {
    height: 34px;
    width: 34px;
    position: relative;
    border-radius: var(--br-xs);
    min-height: 34px;
  }
  .frame-question-icon1 {
    height: 14px;
    width: 16px;
    position: relative;
    border-radius: var(--br-mini);
  }
  .add-response1 {
    position: relative;
    font-weight: 500;
  }
  .vector-prompt {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 5px;
  }
  .frontend-label {
    position: relative;
    font-weight: 500;
  }
  .time-elapsed {
    width: 26px;
    border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-xs);
    color: var(--neutral-white);
  }
  .add-response,
  .what-is-the1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .add-response {
    border-radius: var(--br-mini);
    background-color: var(--color-gainsboro-200);
    align-items: center;
    padding: var(--padding-6xs) var(--padding-4xs) var(--padding-5xs)
      var(--padding-3xs);
    gap: 0 10px;
  }
  .what-is-the1 {
    align-items: flex-start;
    gap: 0 9px;
  }
  .thumbs-up-icon3 {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .thumbsup-icon1 {
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-5xs);
    box-sizing: border-box;
  }
  .thumbsup-icon2 {
    position: relative;
  }
  .iconsaxoutlinedislike3 {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .thumbsup-icon3 {
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0 0;
    box-sizing: border-box;
  }
  .thumbsup-icon4 {
    position: relative;
  }
  .ionic-covalic,
  .thumbs-up-dislike {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .thumbs-up-dislike {
    justify-content: flex-start;
    gap: 0 4px;
    color: var(--neutral-white);
  }
  .ionic-covalic {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
    margin-top: -2px;
    font-size: var(--font-size-3xs);
    color: var(--color-gray-100);
  }
  .frame-parent12,
  .thread-1-inner,
  .thread-12 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent12 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
  }
  .thread-1-inner,
  .thread-12 {
    align-self: stretch;
    box-sizing: border-box;
  }
  .thread-1-inner {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0 var(--padding-5xs);
    font-size: var(--font-size-sm);
  }
  .thread-12 {
    border-radius: var(--br-mini);
    background-color: var(--color-rosybrown-400);
    box-shadow: 10px 10px 0 rgba(2, 2, 2, 0.45);
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-sm) var(--padding-11xl) 27px var(--padding-3xl);
    gap: 55px 0;
  }
  .vector-icon2,
  .what-is-the2 {
    position: relative;
    flex-shrink: 0;
  }
  .what-is-the2 {
    margin: 0;
    width: 490px;
    height: 64px;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
  }
  .vector-icon2 {
    height: 55px;
    width: 55px;
    border-radius: var(--br-8xs);
    overflow: hidden;
    object-fit: cover;
  }
  .astronout,
  .h-ago3 {
    position: relative;
    display: inline-block;
  }
  .astronout {
    align-self: stretch;
    height: 21px;
    font-weight: 500;
  }
  .h-ago3 {
    width: 43px;
    flex: 1;
    font-size: var(--font-size-xs);
    color: var(--neutral-brown);
  }
  .frame-question,
  .frontend-icon {
    display: flex;
    justify-content: flex-start;
  }
  .frame-question {
    height: 39px;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
  }
  .frontend-icon {
    width: 133px;
    flex-direction: row;
    align-items: center;
    gap: 0 8px;
  }
  .frame-child5 {
    height: 34px;
    width: 100px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--light-100);
    display: none;
  }
  .front-end {
    height: 24.8px;
    width: 62px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .rectangle-parent2 {
    height: 36px;
    width: 100px;
    border-radius: var(--br-8xs);
    background-color: var(--light-100);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: var(--padding-4xs) var(--padding-12xs) var(--padding-12xs);
    box-sizing: border-box;
    font-size: var(--font-size-xs);
    color: var(--color-rosybrown-400);
  }
  .astronaut-time-stamp {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-sm);
  }
  .object-force {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xs);
    gap: 20px 0;
  }
  .the-three-main {
    margin: 0;
    width: 490px;
    height: 74px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
  }
  .vectormathematics-icon {
    height: 34px;
    width: 34px;
    position: relative;
    border-radius: var(--br-xs);
    min-height: 34px;
  }
  .vector-math-languages {
    height: 14px;
    width: 16px;
    position: relative;
    border-radius: var(--br-mini);
  }
  .add-response2 {
    align-self: stretch;
    flex: 1;
    position: relative;
    font-weight: 500;
  }
  .rectangle-frame-frames {
    height: 15px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 5px;
  }
  .empty-text-response {
    align-self: stretch;
    width: 12px;
    position: relative;
    font-weight: 500;
    display: inline-block;
  }
  .medal-icon-frame {
    align-self: stretch;
    width: 26px;
    border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-xs);
    color: var(--neutral-white);
  }
  .frontend-categories,
  .time-elapsed-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .time-elapsed-icons {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-mini);
    background-color: var(--color-gainsboro-200);
    align-items: center;
    padding: var(--padding-6xs) var(--padding-4xs) var(--padding-5xs)
      var(--padding-3xs);
    gap: 0 12px;
  }
  .frontend-categories {
    height: 34px;
    width: 191px;
    align-items: flex-start;
    gap: 0 9px;
  }
  .thumbs-up-icon4 {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .thumbs-up-icon-frame {
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-5xs);
    box-sizing: border-box;
  }
  .thumbs-up-icon5 {
    height: 15px;
    width: 10px;
    position: relative;
    display: inline-block;
  }
  .iconsaxoutlinedislike4 {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .thumbs-up-icon-frame1 {
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0 0;
    box-sizing: border-box;
  }
  .thumbs-up-icon6 {
    height: 15px;
    width: 10px;
    position: relative;
    display: inline-block;
  }
  .frontend-instance,
  .thumbsup-dislike-frames {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .thumbsup-dislike-frames {
    justify-content: flex-start;
    gap: 0 4px;
    color: var(--neutral-white);
  }
  .frontend-instance {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-3xs);
    color: var(--color-gray-100);
  }
  .chemistry-category,
  .thread-21 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .chemistry-category {
    align-items: flex-start;
    padding: 0 var(--padding-3xs);
    gap: 34px 0;
    font-size: var(--font-size-lg);
  }
  .thread-21 {
    border-radius: var(--br-mini);
    background-color: var(--color-rosybrown-400);
    box-shadow: 10px 10px 0 rgba(2, 2, 2, 0.45);
    overflow: hidden;
    align-items: center;
    padding: var(--padding-xl) var(--padding-xl) var(--padding-5xl);
    gap: 25px 0;
  }
  .thumbsup {
    margin-top: -242px;
    margin-bottom: -242px;
    align-self: stretch;
    align-items: flex-start;
    padding: 0 var(--padding-6xs);
    box-sizing: border-box;
    gap: 34px 0;
    flex-shrink: 0;
    font-size: var(--font-size-6xl);
  }
  .containers,
  .minago,
  .thumbsup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .containers {
    align-self: stretch;
    height: 840px;
    overflow-y: auto;
    flex-shrink: 0;
    align-items: center;
    gap: 26px 0;
  }
  .minago {
    width: 564px;
    align-items: flex-start;
    padding: 34px 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-base);
  }
  .frame-child6 {
    height: 38px;
    width: 38px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-darkseagreen);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-anggoro {
    align-self: stretch;
    height: 21px;
    position: relative;
    font-weight: 500;
    display: inline-block;
  }
  .user-1 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--color-lavenderblush);
  }
  .ebayyou-anggoro-parent {
    height: 39px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent15 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-21xl) 0 0;
    gap: 0 10px;
  }
  .frame-child7 {
    height: 38px;
    width: 38px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-cadetblue);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-anggoro1 {
    align-self: stretch;
    height: 21px;
    position: relative;
    font-weight: 500;
    display: inline-block;
  }
  .user-11 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--color-lavenderblush);
  }
  .ebayyou-anggoro-group {
    height: 39px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent16 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-21xl) 0 0;
    gap: 0 10px;
  }
  .frame-child8 {
    height: 38px;
    width: 38px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-rosybrown-100);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-anggoro2 {
    align-self: stretch;
    height: 21px;
    position: relative;
    font-weight: 500;
    display: inline-block;
  }
  .user-12 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--color-lavenderblush);
  }
  .ebayyou-anggoro-container,
  .frame-parent17 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent17 {
    border-radius: var(--br-8xs);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-rosybrown-400);
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-8xs) var(--padding-16xl) var(--padding-8xs)
      var(--padding-8xs);
    gap: 0 10px;
  }
  .frame-child9 {
    height: 38px;
    width: 38px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-rosybrown-200);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-anggoro3 {
    align-self: stretch;
    height: 21px;
    position: relative;
    font-weight: 500;
    display: inline-block;
  }
  .user-13 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--color-lavenderblush);
  }
  .ebayyou-anggoro-parent1 {
    height: 39px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent18 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-21xl) 0 0;
    gap: 0 10px;
  }
  .frame-child10 {
    height: 38px;
    width: 38px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-lightslategray-200);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-anggoro4 {
    align-self: stretch;
    height: 21px;
    position: relative;
    font-weight: 500;
    display: inline-block;
  }
  .user-14 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--color-lavenderblush);
  }
  .ebayyou-anggoro-parent2 {
    height: 39px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent19 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-21xl) 0 0;
    gap: 0 10px;
  }
  .frame-child11 {
    height: 38px;
    width: 38px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-lightslategray-100);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-anggoro5 {
    align-self: stretch;
    height: 21px;
    position: relative;
    font-weight: 500;
    display: inline-block;
  }
  .user-15 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--color-lavenderblush);
  }
  .ebayyou-anggoro-parent3 {
    height: 39px;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
  }
  .ebayyou-anggoro-parent3,
  .frame-parent14,
  .frame-parent20 {
    display: flex;
    justify-content: flex-start;
  }
  .frame-parent20 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--padding-21xl) 0 0;
    gap: 0 10px;
  }
  .frame-parent14 {
    position: absolute;
    top: 54px;
    left: 13px;
    width: 214px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px 0;
  }
  .list-of-users {
    position: relative;
    font-weight: 500;
  }
  .iconsaxlinearprofile2user {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
  }
  .list-of-users-parent {
    position: absolute;
    top: 15px;
    left: 13px;
    width: 214px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
    color: var(--color-darkgray-100);
  }
  .see-more {
    position: absolute;
    top: 6px;
    left: 69px;
    font-weight: 600;
  }
  .button-see {
    position: absolute;
    top: 352px;
    left: 13px;
    border-radius: var(--br-8xs);
    width: 214px;
    height: 35px;
    overflow: hidden;
    font-size: var(--font-size-base);
    color: var(--light-100);
  }
  .frame-parent13 {
    height: 402px;
    width: 239px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-rosybrown-400);
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .vector-icon3 {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .front-end1 {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .vector-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago4 {
    align-self: stretch;
    position: relative;
    color: var(--color-lavenderblush);
  }
  .frame-parent22 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-child12 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .frame-parent21 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px 0;
  }
  .vector-icon4 {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .back-end {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .vector-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago5 {
    align-self: stretch;
    position: relative;
    color: var(--color-lavenderblush);
  }
  .frame-parent24 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-child13 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .frame-parent23 {
    gap: 5px 0;
  }
  .frame-parent23,
  .trend1 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-icon5 {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .mobile-dev {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .vector-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago6 {
    align-self: stretch;
    position: relative;
    color: var(--color-lavenderblush);
  }
  .frame-parent26 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-child14 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .frame-parent25 {
    gap: 5px 0;
  }
  .frame-parent25,
  .trend2 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-icon6 {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .data-analyst {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .vector-parent3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago7 {
    align-self: stretch;
    position: relative;
    color: var(--color-lavenderblush);
  }
  .frame-parent28 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-child15 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .frame-parent27 {
    gap: 5px 0;
  }
  .frame-parent27,
  .trend3 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-icon7 {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .machine-learning {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .vector-parent4 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago8 {
    align-self: stretch;
    position: relative;
    color: var(--color-lavenderblush);
  }
  .frame-parent30 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-child16 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .frame-parent29 {
    gap: 5px 0;
  }
  .frame-parent29,
  .trend4 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-icon8 {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .blockchain-dev {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .vector-parent5 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago9 {
    align-self: stretch;
    position: relative;
    color: var(--color-lavenderblush);
  }
  .frame-parent32 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-child17 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .frame-parent31 {
    align-self: stretch;
    flex: 1;
    gap: 5px 0;
  }
  .frame-parent31,
  .trend,
  .trend5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .trend5 {
    align-self: stretch;
    flex: 1;
  }
  .trend {
    position: absolute;
    top: 60px;
    left: 13px;
    gap: 10px 0;
  }
  .whats-happenning {
    height: 21px;
    width: 144px;
    position: relative;
    font-weight: 500;
    display: inline-block;
  }
  .iconsaxlinearmedal {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
  }
  .whats-happenning-parent {
    position: absolute;
    top: 15px;
    left: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-sm);
    color: var(--neutral-white);
  }
  .trendings1 {
    height: 270px;
    width: 239px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-rosybrown-400);
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    font-size: var(--font-size-xs);
    color: var(--color-mistyrose);
  }
  .math-matters {
    flex: 1;
  }
  .desktop-aside2,
  .login-panel {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .login-panel {
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-rosybrown-400);
    align-items: center;
    padding: var(--padding-38xl) var(--padding-29xl) var(--padding-37xl)
      var(--padding-30xl);
  }
  .desktop-aside2 {
    align-self: stretch;
    height: 934px;
    border-left: 2px solid var(--color-darkslategray-100);
    box-sizing: border-box;
    flex-shrink: 0;
    align-items: flex-start;
    padding: var(--padding-23xl) var(--padding-11xl) var(--padding-23xl)
      var(--padding-12xl);
  }
  .question-categories2 {
    position: relative;
    font-weight: 500;
  }
  .iconsaxlinearmedal1 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
  }
  .frame-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .label-vector-icon {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .mathematics {
    position: relative;
    font-weight: 500;
  }
  .label-vector2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago10 {
    position: relative;
    color: var(--color-lavenderblush);
  }
  .label-vector1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .rectangle-container1 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .label-vector {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px 0;
  }
  .vector-icon9 {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .english {
    position: relative;
    font-weight: 500;
  }
  .vector-parent6 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago11 {
    position: relative;
    color: var(--color-lavenderblush);
  }
  .frame-parent33 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .label-vector-child {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .label-vector3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px 0;
  }
  .vector-icon10 {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .biology {
    position: relative;
    font-weight: 500;
  }
  .vector-parent7 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago12 {
    position: relative;
    color: var(--color-lavenderblush);
  }
  .frame-parent34 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .label-vector-item {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .label-vector4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px 0;
  }
  .vector-icon11 {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .chemistry2 {
    position: relative;
    font-weight: 500;
  }
  .vector-parent8 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago13 {
    position: relative;
    color: var(--color-lavenderblush);
  }
  .frame-parent35 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .label-vector-inner {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .label-vector5 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px 0;
  }
  .vector-icon12 {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .physics {
    position: relative;
    font-weight: 500;
  }
  .vector-parent9 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago14 {
    position: relative;
    color: var(--color-lavenderblush);
  }
  .frame-parent36 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .label-vector-child1 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .label-vector6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px 0;
  }
  .vector-icon13 {
    height: 17.1px;
    width: 18px;
    position: relative;
  }
  .chinese {
    position: relative;
    font-weight: 500;
  }
  .vector-parent10 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 7px;
  }
  .h-ago15 {
    position: relative;
    color: var(--color-lavenderblush);
  }
  .frame-parent37 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .label-vector-child2 {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-gray-300);
  }
  .label-vector7 {
    align-self: stretch;
    align-items: flex-start;
    gap: 5px 0;
  }
  .desktop-aside-login,
  .label-vector7,
  .math-vector-group,
  .trendings2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .math-vector-group {
    align-self: stretch;
    align-items: flex-start;
    padding: 0 var(--padding-12xs) 0 0;
    gap: 10px 0;
    font-size: var(--font-size-xs);
    color: var(--color-mistyrose);
  }
  .desktop-aside-login,
  .trendings2 {
    align-items: center;
  }
  .trendings2 {
    width: 239px;
    border-radius: var(--br-3xs);
    background-color: var(--color-rosybrown-400);
    overflow: hidden;
    padding: var(--padding-mini) var(--padding-xs) var(--padding-base)
      var(--padding-smi);
    box-sizing: border-box;
    gap: 21px 0;
    z-index: 1;
    margin-top: -696px;
  }
  .desktop-aside-login {
    height: 934px;
    width: 300px;
    font-size: var(--font-size-sm);
  }
  .chemistry {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 0 var(--padding-9xs);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--neutral-white);
    font-family: var(--font-poppins);
  }
  .desktop-discussion-forum {
    width: 100%;
    position: relative;
    background-color: var(--color-wheat);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1275px) {
    .chemistry {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1100px) {
    .desktop-aside1 {
      padding-top: var(--padding-19xl);
      padding-bottom: var(--padding-116xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .desktop-aside1,
    .thread-12 {
      padding-top: var(--padding-6xl);
      padding-bottom: var(--padding-69xl);
      box-sizing: border-box;
    }
    .thread-12 {
      gap: 55px 0;
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-xl);
    }
    .chemistry-category,
    .thumbsup {
      gap: 34px 0;
    }
  }
  @media screen and (max-width: 450px) {
    .top-leaderboards {
      font-size: var(--font-size-xl);
    }
    .links-parent {
      gap: 58px 0;
    }
    .frame-parent11 {
      height: 61.9px;
    }
    .desktop-aside1 {
      gap: 207px 0;
    }
    .button-group,
    .input {
      flex-wrap: wrap;
    }
    .what-is-the {
      font-size: var(--font-size-xl);
    }
    .avatar1,
    .ionic-covalic {
      flex-wrap: wrap;
    }
    .what-is-the2 {
      font-size: var(--font-size-xl);
    }
    .astronaut-time-stamp,
    .frontend-instance {
      flex-wrap: wrap;
    }
    .containers {
      height: auto;
    }
  }