/* FormStyles.css */
.form-container {
    background: rgba(255, 255, 255, 0.8); /* Adjust transparency as needed */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 5%; /* Add top margin to lower the form a bit */
    max-width: 500px; /* Or your preferred max width */
    text-align: center;
    position: relative;
  }
  
  /* You might want to adjust the max-width depending on your design */
  .form-content {
    width: 100%;
    max-width: 500px; /* Set a max-width for the form content */
    margin: 0 auto; /* Centers the form content block */
    padding: 2em; /* Spacing inside the form */
  }
  
  .form-container h2 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-align: center; /* Center the form heading */
    margin-bottom: 1em; /* Spacing after the heading */
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  form input[type="text"],
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  form button:hover {
    background-color: #0056b3;
  }

/* ... (previous styles remain the same) */

.description-textarea {
  width: 100%;
  resize: vertical; /* Allow vertical resizing, prevent horizontal resizing */
  /* You can also set a minimum height if needed */
}

.button-group {
  display: flex; /* Align buttons side by side */
  justify-content: space-between; /* Distribute space between buttons */
  gap: 10px; /* Add a gap between the buttons */
}

.form-button {
  flex-grow: 1; /* Let buttons grow equally to fill space */
  /* Additional button styling */
}
.image-preview {
  width: 100%; /* Full width of its container */
  max-height: 300px; /* Set a maximum height for the image preview */
  object-fit: contain; /* This will ensure the image fits within the box */
  border-radius: 5px; /* Optional rounded corners */
  margin-top: 20px; /* Space above the preview */
  border: 1px solid #ccc; /* Optional border */
}

.signup-prompt {
  margin-top: 20px;
}

.signup-link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.signup-link:hover {
  color: #0056b3;
  text-decoration: none; /* Optional: removes the underline on hover */
}
