.navbar-links-frame {
    height: 48px;
    width: calc(100% - 18.2px);
    position: absolute;
    margin: 0 !important;
    top: 40.43px;
    right: -48px;
    left: 66.2px;
    border-radius: 50%;
    background: linear-gradient(159.93deg, #292d3c, #5a5f73);
    transform: rotate(147.6deg);
    transform-origin: 0 0;
    z-index: 2;
  }
  .leaderboards-frame {
    height: 42px;
    width: 42px;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(
      111.04deg,
      rgba(78, 131, 210, 0.8) 8.46%,
      #16161d
    );
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
      2px 2px 10px rgba(0, 0, 0, 0.25) inset;
    z-index: 3;
  }
  .footer-rectangle {
    height: 43.2px;
    width: 42px;
    right: -21.62px;
    bottom: -4.4px;
    background: linear-gradient(91.16deg, #697191, #cd7aff);
    transform: rotate(22.2deg);
  }
  .footer-rectangle,
  .footer-rectangle1,
  .mentor-list-text {
    position: absolute;
    margin: 0 !important;
    border-radius: 50%;
    transform-origin: 0 0;
  }
  .footer-rectangle1 {
    height: 43.2px;
    width: 42px;
    right: -20.62px;
    bottom: -2.4px;
    background-color: var(--color-darkslategray-100);
    transform: rotate(22.2deg);
    z-index: 1;
  }
  .mentor-list-text {
    height: 43px;
    width: 45px;
    top: 37.46px;
    left: 27.94px;
    background-color: var(--color-plum);
    transform: rotate(-172.71deg);
  }
  .d,
  .g {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    white-space: nowrap;
  }
  .g {
    margin: 0 !important;
    position: absolute;
    right: -0.1px;
    bottom: -0.1px;
    z-index: 1;
  }
  .button-frame,
  .d-parent,
  .logo-brand {
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
  .d-parent {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 var(--padding-6xs);
    z-index: 4;
  }
  .button-frame,
  .logo-brand {
    flex-direction: row;
  }
  .button-frame {
    width: 23px;
    align-items: flex-start;
    margin-left: -32px;
  }
  .logo-brand {
    align-items: center;
    padding: var(--padding-xs) var(--padding-xl) var(--padding-sm)
      var(--padding-smi);
  }
  .digiforumio,
  .platform-discussion {
    position: relative;
    white-space: nowrap;
  }
  .digiforumio {
    margin: 0;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .platform-discussion {
    font-size: var(--font-size-xs);
    font-weight: 300;
  }
  .brands,
  .match-group {
    display: flex;
    justify-content: flex-start;
  }
  .match-group {
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-size-lg);
    color: var(--neutral-white);
    font-family: var(--font-poppins);
  }
  .brands {
    flex-direction: row;
    align-items: center;
    gap: 0 6px;
  }
  .iconsaxlinearsearchstatus {
    height: 32px;
    width: 32px;
    position: relative;
  }
  .vector-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .explore {
    position: relative;
    white-space: nowrap;
  }
  .h-ago-rectangle {
    gap: 0 16px;
  }
  .h-ago-rectangle,
  .navbar-component-instance,
  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .search {
    flex: 1;
    border-radius: var(--br-7xs);
    background-color: var(--color-darkslategray-100);
    overflow: hidden;
    padding: var(--padding-3xs) var(--padding-sm);
    font-size: var(--font-size-lg);
    color: var(--light-100);
    font-family: var(--font-poppins);
  }
  .navbar-component-instance {
    width: 528px;
    gap: 0 38px;
    max-width: 100%;
  }
  .about,
  .community,
  .home,
  .leaderboards,
  .threads {
    position: relative;
    font-weight: 600;
  }
  .leaderboards {
    white-space: nowrap;
  }
  .links,
  .navbar {
    flex: 1;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 100%;
  }
  .links {
    margin: 0;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 var(--padding-11xs) 0 0;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--neutral-white);
    font-family: var(--font-poppins);
  }
  .navbar {
    border-radius: var(--br-3xs);
    background: linear-gradient(152.9deg, #162635, #ac79b5);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: var(--padding-20xl) var(--padding-14xl);
  }
  .aside-container-child {
    height: 46px;
    width: 47px;
    position: relative;
  }
  .aside-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .iconsaxlinearsmsnotification {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-empty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xl) 0;
    gap: 0 18px;
  }
  .desktop-navbar-component,
  .navbar-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
  }
  .navbar-parent {
    margin-top: -12px;
    margin-bottom: -12px;
    width: 756px;
    justify-content: flex-start;
    gap: 0 35px;
  }
  .desktop-navbar-component {
    align-self: stretch;
    height: 90px;
    background-color: var(--color-rosybrown-400);
    justify-content: space-between;
    padding: 0 var(--padding-16xl) 0;
    box-sizing: border-box;
    top: 0;
    z-index: 99;
    position: sticky;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-whitesmoke);
    font-family: var(--font-inter);
  }
  .mentor-list {
    margin: 0;
    height: 28px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .reviews {
    width: 354px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-6xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .primary-mathematics-mentor {
    margin: 0;
    align-self: stretch;
    height: 28px;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
  }
  .avatar-1-icon {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 44px;
    height: 44px;
    object-fit: cover;
  }
  .vector-icons {
    height: 55px;
    width: 55px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-darkseagreen);
    overflow: hidden;
    flex-shrink: 0;
  }
  .peter-tan {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .h-ago {
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--neutral-brown);
  }
  .thread-data,
  .vector-icons-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-icons-parent {
    flex-direction: row;
    align-items: center;
    gap: 0 8px;
  }
  .frame-child {
    height: 34px;
    width: 100px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--light-100);
    display: none;
  }
  .match {
    height: 24.8px;
    width: 62px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .rectangle-parent {
    height: 36px;
    width: 100px;
    border-radius: var(--br-8xs);
    background-color: var(--light-100);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: var(--padding-4xs) var(--padding-12xs) var(--padding-12xs);
    box-sizing: border-box;
    font-size: var(--font-size-xs);
    color: var(--color-rosybrown-400);
  }
  .frame-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-xl);
  }
  .question-categories-title {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xs);
    gap: 20px 0;
  }
  .introduction-qualification,
  .more {
    margin: 0;
  }
  .introduction-qualification-container {
    margin: 0;
    height: 47px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .introduction-qualification-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xs) var(--padding-6xs);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-lg);
  }
  .review-buttons-icon {
    height: 34px;
    width: 34px;
    position: relative;
    border-radius: var(--br-xs);
    min-height: 34px;
  }
  .user-reviews-icon {
    height: 14px;
    width: 16px;
    position: relative;
    border-radius: var(--br-mini);
  }
  .add-review {
    position: relative;
    font-weight: 500;
  }
  .avatar-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 5px;
  }
  .div {
    position: relative;
    font-weight: 500;
  }
  .like-dislike {
    width: 26px;
    border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-xs);
    color: var(--neutral-white);
  }
  .match-section,
  .review-buttons-parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .match-section {
    border-radius: var(--br-mini);
    background-color: var(--color-gainsboro-200);
    align-items: center;
    padding: var(--padding-6xs) var(--padding-mid) var(--padding-5xs)
      var(--padding-base);
    gap: 0 10px;
  }
  .review-buttons-parent {
    align-items: flex-start;
    gap: 0 9px;
  }
  .image-1-icon {
    height: 18px;
    width: 91px;
    position: relative;
    object-fit: cover;
  }
  .thumbs-up-icon {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .emptyspace {
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-5xs);
    box-sizing: border-box;
  }
  .emptyspace1 {
    position: relative;
  }
  .iconsaxoutlinedislike {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .likeicon {
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0 0;
    box-sizing: border-box;
  }
  .framewithbuttons {
    position: relative;
  }
  .question-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 4px;
    color: var(--neutral-white);
  }
  .frame-group,
  .thread-1 {
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  .frame-group {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-3xs);
    gap: var(--gap-xl);
    font-size: var(--font-size-3xs);
    color: var(--color-gray-100);
  }
  .thread-1 {
    border-radius: var(--br-mini);
    background-color: var(--color-rosybrown-400);
    box-shadow: 10px 10px 0 rgba(2, 2, 2, 0.45);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-xl) var(--padding-xl) var(--padding-14xl);
    box-sizing: border-box;
    gap: 25px 0;
    max-width: 100%;
    cursor: pointer;
  }
  .primary-english-mentor {
    margin: 0;
    align-self: stretch;
    height: 28px;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
  }
  .astronaut-icon,
  .astronaut-icon1 {
    position: absolute;
    width: calc(100% - 3px);
    top: 2px;
    right: 1px;
    left: 2px;
    max-width: 100%;
    overflow: hidden;
    height: 52px;
    object-fit: cover;
  }
  .astronaut-icon1 {
    z-index: 1;
  }
  .astronaut-parent {
    height: 55px;
    width: 55px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: #789fbe;
    overflow: hidden;
    flex-shrink: 0;
  }
  .mary-anderson {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .h-ago1 {
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--neutral-brown);
  }
  .frame-div,
  .mary-anderson-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-div {
    flex-direction: row;
    align-items: center;
    gap: 0 8px;
  }
  .frame-item {
    height: 34px;
    width: 100px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--light-100);
    display: none;
  }
  .match1 {
    height: 24.8px;
    width: 62px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .rectangle-group {
    height: 36px;
    width: 100px;
    border-radius: var(--br-8xs);
    background-color: var(--light-100);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: var(--padding-4xs) var(--padding-12xs) var(--padding-12xs);
    box-sizing: border-box;
    font-size: var(--font-size-xs);
    color: var(--color-rosybrown-400);
  }
  .frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-xl);
  }
  .primary-english-mentor-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xs);
    gap: 20px 0;
  }
  .introduction-qualification1,
  .more1 {
    margin: 0;
  }
  .introduction-qualification-container1 {
    margin: 0;
    height: 47px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .introduction-qualification-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xs) var(--padding-6xs);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-lg);
  }
  .frame-inner {
    height: 34px;
    width: 34px;
    position: relative;
    border-radius: var(--br-xs);
    min-height: 34px;
  }
  .vector-icon {
    height: 14px;
    width: 16px;
    position: relative;
    border-radius: var(--br-mini);
  }
  .add-review1 {
    position: relative;
    font-weight: 500;
  }
  .vector-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 5px;
  }
  .div1 {
    position: relative;
    font-weight: 500;
  }
  .wrapper {
    width: 26px;
    border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-xs);
    color: var(--neutral-white);
  }
  .frame-parent2,
  .frame-parent3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .frame-parent3 {
    border-radius: var(--br-mini);
    background-color: var(--color-gainsboro-200);
    align-items: center;
    padding: var(--padding-6xs) 18px var(--padding-5xs) var(--padding-mini);
    gap: 0 10px;
  }
  .frame-parent2 {
    align-items: flex-start;
    gap: 0 9px;
  }
  .image-1-icon1 {
    height: 18px;
    width: 91px;
    position: relative;
    object-fit: cover;
  }
  .thumbs-up-icon1 {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .thumbs-up-wrapper {
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-5xs);
    box-sizing: border-box;
  }
  .div2 {
    position: relative;
  }
  .iconsaxoutlinedislike1 {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .iconsaxoutlinedislike-wrapper {
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0 0;
    box-sizing: border-box;
  }
  .div3 {
    position: relative;
  }
  .frame-parent1,
  .frame-parent4 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .frame-parent4 {
    justify-content: flex-start;
    gap: 0 4px;
    color: var(--neutral-white);
  }
  .frame-parent1 {
    align-self: stretch;
    justify-content: space-between;
    padding: 0 var(--padding-3xs);
    gap: var(--gap-xl);
    font-size: var(--font-size-3xs);
    color: var(--color-gray-100);
  }
  .thread-2 {
    border-radius: var(--br-mini);
    background-color: var(--color-rosybrown-400);
    box-shadow: 10px 10px 0 rgba(2, 2, 2, 0.45);
    overflow: hidden;
    align-items: center;
    padding: var(--padding-xl) var(--padding-xl) var(--padding-14xl);
    box-sizing: border-box;
    gap: 25px 0;
  }
  .dislike,
  .reviews-parent,
  .thread-2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .dislike {
    align-items: flex-start;
    gap: 34px 0;
    font-size: var(--font-size-6xl);
    color: var(--neutral-white);
  }
  .reviews-parent {
    align-items: center;
    gap: 69px 0;
  }
  .footer-rectangle-inner,
  .footer-rectangle2 {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .footer-rectangle-inner {
    width: 550px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 84px 0 0;
  }
  .footer-rectangle2 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 var(--padding-9xs);
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-31xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .desktop-mentor-premium-me {
    width: 100%;
    position: relative;
    background-color: var(--color-wheat);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1275px) {
    .links {
      display: none;
    }
    .footer-rectangle2 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1100px) {
    .footer-rectangle-inner {
      padding-top: 55px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .navbar-component-instance {
      gap: 0 38px;
    }
    .navbar-parent {
      gap: 0 35px;
    }
    .mentor-list {
      font-size: var(--font-size-21xl);
    }
    .frame-group,
    .frame-parent1 {
      flex-wrap: wrap;
    }
    .dislike {
      gap: 34px 0;
    }
    .reviews-parent {
      gap: 69px 0;
    }
  }
  @media screen and (max-width: 450px) {
    .mentor-list {
      font-size: var(--font-size-11xl);
    }
    .reviews {
      max-width: calc(100% - 25px);
    }
    .primary-mathematics-mentor {
      font-size: var(--font-size-xl);
    }
    .peter-tan {
      font-size: var(--font-size-base);
    }
    .frame-parent {
      flex-wrap: wrap;
    }
    .primary-english-mentor {
      font-size: var(--font-size-xl);
    }
    .mary-anderson {
      font-size: var(--font-size-base);
    }
    .frame-container {
      flex-wrap: wrap;
    }
    .reviews-parent {
      gap: 69px 0;
    }
    .footer-rectangle-inner {
      padding-top: 36px;
      box-sizing: border-box;
    }
  }