/* NavbarStyles.css */
.navbar {
    background: linear-gradient(152.9deg, rgba(254, 255, 197, 0.9), rgba(126, 243, 194, 0.9));
    height: 60px; /* Fixed navbar height */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0 24px;
    border-radius: 0 0 15px 15px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1500px; /* Max width of your content area */
    padding: 0 24px;
  }
  
  .nav-logo {
    color: #007bff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-weight: bold;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -22px; /* Adjust based on your styling */
    padding: 0 24px;

  }
  
  .nav-item {
    height: 50px;
    padding: 5px;
    margin: 8px;
  }
  
  .nav-links {
    color: #007bff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    cursor: pointer;
  }
  
  .nav-links:hover {
    border-bottom: 3px solid #0056b3;
  }
  