.desktop-navbar-component2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: var(--color-rosybrown-400);
  padding: 0 var(--padding-16xl);
  box-sizing: border-box;
  z-index: 99;
  position: sticky;
  top: 0;
}

.brands-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 37px;
  width: 100%;
  padding: 0 var(--padding-12xs);
}

.logo-brand2, .f-r-a-m-e-search-ellipses-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.logo-brand-child, .logo-brand-item, .f-r-a-m-e-search-ellipses, .f-r-a-m-e-search-ellipses1, .ellipse-div {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(159.93deg, #292d3c, #5a5f73);
  overflow: hidden;
}

.frame-discussion-forum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.f-r-a-m-e-search-explore, .search2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  margin-top: -12px;
}

.links3 {
  display: flex;
  flex-direction: row;
  gap: var(--gap-xl);
  align-items: center;
  justify-content: center;
}

.search-frame, .footer-frame1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

/* Responsive Adjustments */
@media screen and (max-width: 1275px) {
  .links3 {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .brands-parent {
    flex-direction: column;
    align-items: center;
  }
}
