.add-your-question {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  
  .you-can-ask {
    width: 273px;
    position: relative;
    font-size: var(--font-size-base);
    text-align: center;
    display: inline-block;
  }
  
  .add-your-question-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
  }
  
  .title-category-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-sm) var(--padding-33xl) var(--padding-sm);
  }
  
  .title, .category, .ask-what-you {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding-right: var(--padding-xl);
  }
  
  .title {
    width: 57px;
  }
  
  .category {
    width: 105px;
  }
  
  .question-categories-frame, .question-categories-frame1, .question-categories-frame2 {
    align-self: stretch;
    border-radius: var(--br-8xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-base);
  }
  
  .question-categories-frame {
    border: 1px solid var(--color-mediumpurple-100);
  }
  
  .question-categories-frame1 {
    border: 1px solid var(--color-lightskyblue);
  }
  
  .question-categories-frame2 {
    border: 1px solid var(--color-lightcoral-100);
    padding: var(--padding-xs) var(--padding-base) var(--padding-139xl);
    white-space: nowrap;
  }
  
  .ask-what-you {
    width: 275px;
  }
  
  .trendings-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
    font-size: var(--font-size-lg);
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .go-to-threads {
    position: relative;
    font-weight: 600;
  }
  
  .add-your-question-button, .button-full {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .button-full {
    border-radius: var(--br-7xs);
    background-color: var(--color-rosybrown-400);
    padding: var(--padding-6xl);
    cursor: pointer;
    font-size: var(--font-size-base);
    color: var(--color-gray-200);
    font-family: var(--font-inter);
    max-width: 348px; /* Adjust for responsiveness */
  }
  
  .add-your-question-button {
    flex-direction: column;
    gap: 37px;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  
  @media screen and (max-width: 750px) {
    .add-your-question {
      font-size: var(--font-size-7xl);
    }
  }
  
  @media screen and (max-width: 450px) {
    .add-your-question {
      font-size: var(--font-size-lgi);
    }
    .title-category-frame, .trendings-container {
      flex-direction: column;
      align-items: center;
    }
    .button-full {
      width: 100%; /* Make the button full-width on smaller screens */
      padding: var(--padding-4xl); /* Adjust padding for smaller screens */
    }
  }
  