/* .page-container {
    background: rgba(254, 255, 197, 0.9);
    padding: 20px;
    border-radius: 20px;
    margin: 70px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  } */

.page-container h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    background: rgba(254, 255, 197, 0.9);
    padding: 20px;
    border-radius: 20px;
    margin: 70px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }