.home-icon1 {
    height: 36px;
    width: 36px;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
  }
  .profile1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .list-link-13 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 14px;
  }
  .your-threads-icon1 {
    height: 36px;
    width: 36px;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
  }
  .your-threads1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .list-link-14 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 14px;
  }
  .bookmarks-icon1 {
    height: 36px;
    width: 36px;
    position: relative;
    border-radius: var(--br-xs);
    overflow: hidden;
    flex-shrink: 0;
  }
  .saved1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .links4,
  .list-link-15 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 14px;
  }
  .links4 {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px 0;
  }
  .top-leaderboards1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .ebayyou-an3 {
    height: 45px;
    width: 45px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-darkseagreen);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-an4 {
    position: relative;
    font-weight: 500;
  }
  .ebaygmailc3 {
    width: 87px;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--neutral-brown);
    display: none;
  }
  .ebayyou-an-container,
  .top-leads-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .top-leads-container {
    justify-content: flex-start;
    gap: 0 8px;
  }
  .div9 {
    position: relative;
    font-weight: 600;
  }
  .leaderboard-header,
  .wrapper2 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
  }
  .wrapper2 {
    width: 47px;
    border-radius: var(--br-8xs);
    background-color: var(--light-100);
    display: none;
    justify-content: center;
    padding: var(--padding-12xs) var(--padding-5xs);
    box-sizing: border-box;
    font-size: var(--font-size-base);
    color: var(--color-rosybrown-400);
  }
  .leaderboard-header {
    display: flex;
    justify-content: flex-start;
    gap: 0 61px;
  }
  .frame-child18 {
    height: 45px;
    width: 45px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-lightslategray-200);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-an5 {
    position: relative;
    font-weight: 500;
  }
  .ebaygmailc4 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--neutral-brown);
  }
  .ebayyou-an-parent1 {
    height: 39px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .frame-parent39 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 8px;
  }
  .div10 {
    position: relative;
    font-weight: 600;
  }
  .frame-parent38,
  .wrapper3 {
    border-radius: var(--br-8xs);
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }
  .wrapper3 {
    height: 45px;
    width: 45px;
    background-color: var(--light-200);
    display: flex;
    justify-content: center;
    padding: var(--padding-12xs) var(--padding-5xs);
    font-size: var(--font-size-base);
    color: var(--brand-color-second-color);
  }
  .frame-parent38 {
    width: 240px;
    background-color: var(--brand-color-fourth-color);
    display: none;
    justify-content: space-between;
    padding: var(--padding-8xs);
    gap: var(--gap-xl);
    color: var(--neutral-white);
  }
  .frame-child19 {
    height: 45px;
    width: 45px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-rosybrown-300);
    overflow: hidden;
    flex-shrink: 0;
  }
  .ebayyou-an6 {
    position: relative;
    font-weight: 500;
  }
  .ebaygmailc5 {
    width: 87px;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--neutral-brown);
    display: none;
  }
  .ebayyou-an-parent2,
  .frame-parent40 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frame-parent40 {
    justify-content: flex-start;
    gap: 0 8px;
  }
  .div11 {
    position: relative;
    font-weight: 600;
  }
  .wrapper4 {
    align-self: stretch;
    width: 47px;
    border-radius: var(--br-8xs);
    background-color: var(--light-300);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-12xs) var(--padding-5xs);
    box-sizing: border-box;
    font-size: var(--font-size-base);
    color: var(--color-rosybrown-400);
  }
  .leaderboard-header1,
  .leaderboards4,
  .leads1 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .leaderboard-header1 {
    flex-direction: row;
    align-items: center;
    gap: 0 61px;
  }
  .leaderboards4,
  .leads1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .leads1 {
    gap: 19px 0;
    font-size: var(--font-size-sm);
  }
  .leaderboards4 {
    gap: 28px 0;
  }
  .iconsaxboldmedalstar {
    height: 35px;
    width: 35px;
    position: relative;
  }
  .see-all-leaderboards1 {
    position: relative;
    font-weight: 600;
  }
  .button1,
  .links-group,
  .top-leads1 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .button1 {
    border-radius: var(--br-7xs);
    background: linear-gradient(152.9deg, #162635, #ac79b5);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-3xs) var(--padding-13xl) var(--padding-3xs)
      var(--padding-12xl);
    gap: 0 10px;
    white-space: nowrap;
    font-size: var(--font-size-base);
    color: var(--neutral-white);
    font-family: var(--font-inter);
  }
  .links-group,
  .top-leads1 {
    flex-direction: column;
  }
  .top-leads1 {
    align-items: flex-start;
    gap: 28px 0;
    font-size: var(--font-size-6xl);
  }
  .links-group {
    align-items: flex-end;
    padding: 0 var(--padding-5xl) 0 var(--padding-6xl);
    gap: 58px 0;
  }
  .digiforum-all-rights1 {
    width: 163px;
    position: relative;
    display: none;
    flex-shrink: 0;
  }
  .vector-icon14 {
    height: 25.9px;
    width: 24px;
    position: relative;
  }
  .source-code1 {
    height: 22px;
    flex: 1;
    position: relative;
    text-decoration: underline;
    display: inline-block;
  }
  .vector-parent11 {
    width: 172px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: 0 17px;
  }
  .git-pull-request-icon1 {
    height: 26px;
    width: 26px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .forum-api-dicoding1 {
    height: 22px;
    flex: 1;
    position: relative;
    text-decoration: underline;
    display: inline-block;
  }
  .frame-parent41,
  .git-pull-request-group {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .git-pull-request-group {
    width: 187px;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: 0 17px;
  }
  .frame-parent41 {
    height: 62px;
    display: none;
    flex-direction: column;
    gap: 10px 0;
    text-align: left;
  }
  .footer-child {
    height: 2px;
    flex: 1;
    position: relative;
    background-color: var(--color-darkslategray-100);
  }
  .desktop-aside3,
  .footer2 {
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  .footer2 {
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: var(--neutral-gray);
    font-family: var(--font-inter);
  }
  .desktop-aside3 {
    border-right: 2px solid var(--color-darkslategray-100);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-39xl) var(--padding-2xs) var(--padding-188xl)
      var(--padding-4xs);
    gap: 207px 0;
  }
  .image-5-icon1,
  .image-6-icon1 {
    width: 26px;
    height: 30px;
    position: absolute;
    margin: 0 !important;
    top: 333px;
    left: 44px;
    object-fit: cover;
    z-index: 1;
  }
  .image-5-icon1 {
    width: 29px;
    height: 29px;
    top: 398px;
    left: 41px;
  }
  .desktop-aside-parent {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 1100px) {
    .desktop-aside3 {
      padding-top: var(--padding-19xl);
      padding-bottom: var(--padding-116xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .desktop-aside3 {
      padding-top: var(--padding-6xl);
      padding-bottom: var(--padding-69xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .top-leaderboards1 {
      font-size: var(--font-size-xl);
    }
    .links-group {
      gap: 58px 0;
    }
  }